com/workshop/employee/providerResource/EmpleadoEjemplo.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Add XML Schema (XSD) Data--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3school.org/xsd/ejemploEmpleado/v1/" xmlns:ejmemp="http://www.w3school.org/xsd/ejemploEmpleado/v1/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
  <xsd:element ibmSchExtn:docRoot="true" name="InputEmpleado">
    <xsd:complexType>
      <xsd:all>
        <xsd:element name="ID_Empleado" type="xsd:integer"/>
        <xsd:element name="departamento" type="xsd:string"/>
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="OutputEmpleado">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="Empleado" type="ejmemp:EmpleadoType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EmpleadoType">
    <xsd:all>
      <xsd:element name="ID_Empleado" type="xsd:integer"/>
      <xsd:element name="DatosEmpleado" type="ejmemp:DatosEmpleadoType"/>
      <xsd:element name="DireccioneEmpleado" type="ejmemp:DireccioneEmpleadoType"/>
    </xsd:all>
    <xsd:attribute name="Departamento" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="DatosEmpleadoType">
    <xsd:sequence>
      <xsd:element name="Nombre" type="xsd:string"/>
      <xsd:element name="ApellidoPaterno" type="xsd:string"/>
      <xsd:element name="ApellidoMaterno" type="xsd:string"/>
      <xsd:element name="FechaNacimiento">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9]/[0-9][0-9]/[0-9][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Edad" type="ejmemp:EdadType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DireccioneEmpleadoType">
    <xsd:sequence>
      <xsd:element name="Calle" type="xsd:string"/>
      <xsd:element name="NumeroExteriror" type="xsd:integer"/>
      <xsd:element name="NumeroInterior" type="xsd:integer"/>
      <xsd:element name="Colonia" type="xsd:string"/>
      <xsd:element name="Ciudad" type="xsd:string"/>
      <xsd:element name="Estado" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EdadType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-100]"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>